$mobile-min-width: 480px;
$tablet-min-width: 768px;
$laptop-min-width: 1024px;
$desktop-min-width: 1280px;

$desktop_large-min-width: 1600px;
$xxl-min-width: 1920px;

@mixin mobile-min-width {
  @media (min-width:$mobile-min-width) {
    @content;
  }
}

@mixin tablet-min-width {
  @media (min-width:$tablet-min-width) {
    @content;
  }
}

@mixin laptop-min-width {
  @media (min-width:$laptop-min-width) {
    @content;
  }
}

@mixin desktop-min-width {
  @media (min-width:$desktop-min-width) {
    @content;
  }
}

@mixin desktop_large-min-width {
  @media (min-width:$desktop_large-min-width) {
    @content;
  }
}


