:root {
  --font-family-base: 'Oxanium', sans-serif;
  --main-bg: rgb(20, 12, 31);
  --white: rgb(255, 255, 255);
  --button-violet: rgb(173, 26, 175);
  --black: rgb(0, 0, 0);
  --blue-button-hover: rgb(133, 255, 243);

  --violet-transparent: rgba(130, 0, 106, 0.2);
}